@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');

.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 1}

  h1 { color: #ffffff; font-family: 'Montserrat'; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px; }

  p { color: #adb7bd; font-family: 'Montserrat'; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0; }
  h2, h3, h4 { font-family: 'Montserrat'; }
  
.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #444;
    color: rgba(0, 0, 0, 0.4);
}
.description { 
    display:none; 
    position:absolute; 
    padding: 5px 10px;
    margin-top: 23px;
    margin-left: -13px;
    background: #00ff9d1a
    }
.tip {
    background: rgba(255, 0, 98, 0.137); 
    position: absolute; 
    border-style:outset;
    border-color: #c2e7de;
    border-radius: 50%; 
    margin-top: 6.5px; 
    padding: 5px 5px 15px;
    box-shadow:1px 1px 30px rgb(253, 72, 142);
    animation-timing-function: ease-in;
    animation: fadein1 15s;
}
@keyframes fadein1 {
    from { opacity: 0; }
    to   { opacity: 1; }
}
